
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    font-family: 'Quicksand', sans-serif;
}


/* Layout */

.main-container {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    grid-template-areas: 
    "header"
    "location"
    "main"
    "footer";
    /* grid-template-columns: 100%; */
    grid-template-rows: 200px 50px 1fr 50px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 200, 231);
    padding: 30px;
    /* height: 140px; */
    border-bottom: 1px solid rgb(51, 50, 50);
    align-items: center;
}
@media (min-width: 860px){
    header {
        flex-direction: row;
        justify-content: space-around
    }
}

.inner-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100vw;
}
@media (min-width: 680px){
    .inner-container {
        grid-area: main;
        display: grid;
        grid-template-areas: 
        "weather map";
        grid-template-rows: 100%;
        grid-template-columns: 33% 1fr;
        width: 100vw;
    }  
}

.location-container {
    grid-area: location;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 10px;
}

.weather-container {
    grid-area: weather;
    width: 400px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.map-container {
    grid-area: map;
    flex-grow: 1;
    border: 1px solid gray;
}

footer {
    grid-area: footer;
    background-color: darkslategray;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:white;
}



/* Componants */

.search-location-container {

}

h1 {
    color: darkslategray;
    font-size: 3rem;
    /* margin-right: 40px; */
    font-family: 'Quicksand';
}

.location-search-input {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 20px;
    border: none;
    margin-right: 20px;
    outline: none;
}

.location-search-go {
    margin-right: 20px;
}



/* Helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.responsive {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
}

